<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Створити обслуговування</title>
</head>
<body>
<h1>Створити обслуговування</h1>
<form th:action="@{/maintenance/create}" th:object="${maintenance}" method="post">
    <label>Частота:</label>
    <input type="text" th:field="*{frequency}" /><br><br>

    <label>Обладнання:</label>
    <select th:field="*{equipmentId}">
        <option th:each="e : ${equipments}"
                th:value="${e.id}"
                th:text="${e.id}">
        </option>
    </select>
    <br><br>

    <label>Подія обслуговування:</label>
    <select th:field="*{maintenanceEventId}">
        <option th:each="ev : ${maintenanceEvents}"
                th:value="${ev.id}"
                th:text="${ev.id}">
        </option>
    </select><br><br>

    <button type="submit">Створити</button>
</form>
<br>
<a href="/maintenance">Назад до списку</a>
</body>
</html>
